versions/v1_3_0
versions/v1_4_0
build
dist
temp/
slots/
slots/Bob/bubble.json
slots/Bob/game.json
slots/Quinten/bubble.json
slots/Quinten/game.json
launcher.spec
slots/Bob/bubble.json
slots/Bob/game.json
slots/Quinten/bubble.json
slots/Quinten/game.json
__pycache__/launcher.cpython-37.pyc
.idea/workspace.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/vcs.xml
